@import "../../bower_components/chartist/dist/scss/settings/_chartist-settings.scss";
@import "_vars.scss";
@import "../../bower_components/chartist/dist/scss/chartist.scss";

.cts__tooltip {
	visibility: hidden;
	width: 60px;
	height: 30px;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	background-color: lightgrey;
	border-color: white;
	border-style: solid;
	border-width: 3px;

	h1 {
		font-size: 10px;
		font-weight: none;
		font-family: sans-serif;
		line-height: 2px;
	}

	p {
		font-size: 10px;
		font-weight: none;
		font-family: sans-serif;
		line-height: 2px;
	}

	z-index: 1000;
}

.cts_series {
	
}